header{
    height: 100vh;
    padding-top: 3rem;
    overflow: hidden;
}

.header_container{
    text-align: center;
    height: 100%;
    position: relative;
}

/* ********** CTA ***********/
.cta{
    margin-top: 2rem;
    display:flex;
    gap: 1rem;
    justify-content: center;
}

/* ********** SOCIALS ********** */
.header_socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 0;
    
    font-size: 1.5rem;
    bottom: 0rem;
}
.header_socials::after {
    content: "";
    width: 1px;
    height: 3rem;
    background: var(--color-primary);
}

/* ********** img ********** */
.me{
    background: transparent;
    width: 18rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 9rem) ;
    margin-top: 2rem;
    overflow: hidden;

}

img.header_image{
    border-radius: 10rem 10rem 0 0;
}


/* *************** MEDIA QUERIES (SMALL DEVICES) *************** */
@media screen and (max-width: 1020px){
    header{
        height: 90vh;
    }
}

/* *************** MEDIA QUERIES (MEDIUM DEVICES) *************** */
@media screen and (max-width: 600px){
    header{
        height: 65vh;
    }

    .header_socials{
        display: none;
    }

    
    
}

